<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   2ChoiceF.plist
   Typex

   Created by Michael Mooney on 02/08/2015.
   Copyright (c) 2015 Michael Mooney. All rights reserved.
-->
<plist version="1.0">
    <array>
    <string>AA</string>
<string>AB</string>
<string>AC</string>
<string>AG</string>
<string>AH</string>
<string>AI</string>
<string>AM</string>
<string>AN</string>
<string>AO</string>
<string>AR</string>
<string>AS</string>
<string>AU</string>
<string>AV</string>
<string>AY</string>
<string>BD</string>
<string>BI</string>
<string>BM</string>
<string>BO</string>
<string>BQ</string>
<string>BT</string>
<string>BU</string>
<string>BY</string>
<string>CA</string>
<string>CB</string>
<string>CC</string>
<string>CD</string>
<string>CE</string>
<string>CH</string>
<string>CI</string>
<string>CQ</string>
<string>CV</string>
<string>DA</string>
<string>DE</string>
<string>DJ</string>
<string>DO</string>
<string>DS</string>
<string>DU</string>
<string>ED</string>
<string>EH</string>
<string>EL</string>
<string>EN</string>
<string>ES</string>
<string>ET</string>
<string>EU</string>
<string>EV</string>
<string>EX</string>
<string>FA</string>
<string>FI</string>
<string>FM</string>
<string>FN</string>
<string>FO</string>
<string>GA</string>
<string>GD</string>
<string>GI</string>
<string>GO</string>
<string>GY</string>
<string>HA</string>
<string>HE</string>
<string>HO</string>
<string>HT</string>
<string>IA</string>
<string>IF</string>
<string>IL</string>
<string>IN</string>
<string>IO</string>
<string>IP</string>
<string>IV</string>
<string>JE</string>
<string>JO</string>
<string>JT</string>
<string>KO</string>
<string>LA</string>
<string>LE</string>
<string>LI</string>
<string>LT</string>
<string>LU</string>
<string>MA</string>
<string>MC</string>
<string>ME</string>
<string>MI</string>
<string>MR</string>
<string>MU</string>
<string>NA</string>
<string>NB</string>
<string>NE</string>
<string>NI</string>
<string>NO</string>
<string>NU</string>
<string>OB</string>
<string>OC</string>
<string>OH</string>
<string>OK</string>
<string>OL</string>
<string>OM</string>
<string>ON</string>
<string>OR</string>
<string>OS</string>
<string>OU</string>
<string>OZ</string>
<string>PA</string>
<string>PC</string>
<string>PD</string>
<string>PE</string>
<string>PH</string>
<string>PI</string>
<string>PM</string>
<string>PS</string>
<string>PU</string>
<string>PV</string>
<string>PY</string>
<string>QI</string>
<string>QQ</string>
<string>RA</string>
<string>RC</string>
<string>RE</string>
<string>RH</string>
<string>RI</string>
<string>RU</string>
<string>RV</string>
<string>RY</string>
<string>SA</string>
<string>SE</string>
<string>SF</string>
<string>SH</string>
<string>SI</string>
<string>SM</string>
<string>SO</string>
<string>ST</string>
<string>SU</string>
<string>SY</string>
<string>TA</string>
<string>TE</string>
<string>TG</string>
<string>TI</string>
<string>TO</string>
<string>TU</string>
<string>TV</string>
<string>UA</string>
<string>UN</string>
<string>UR</string>
<string>US</string>
<string>UT</string>
<string>VA</string>
<string>VE</string>
<string>VF</string>
<string>VJ</string>
<string>VO</string>
<string>VS</string>
<string>VU</string>
<string>WU</string>
<string>XE</string>
<string>XI</string>
<string>YI</string>
<string>YK</string>
<string>YO</string>
<string>YS</string>
<string>ZE</string>
    </array>
</plist>
