<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<string>AAR</string>
<string>AAS</string>
<string>ABA</string>
<string>ABC</string>
<string>ABO</string>
<string>ABS</string>
<string>ACA</string>
<string>ACE</string>
<string>ACK</string>
<string>ACL</string>
<string>ACQ</string>
<string>ACY</string>
<string>ADI</string>
<string>ADJ</string>
<string>ADM</string>
<string>ADO</string>
<string>ADQ</string>
<string>AFA</string>
<string>AGA</string>
<string>AGE</string>
<string>AGI</string>
<string>AGP</string>
<string>AHA</string>
<string>AHI</string>
<string>AIE</string>
<string>AIL</string>
<string>AIN</string>
<string>AIR</string>
<string>AIS</string>
<string>AIT</string>
<string>AIX</string>
<string>AKA</string>
<string>ALE</string>
<string>ALU</string>
<string>AMD</string>
<string>AME</string>
<string>AMF</string>
<string>AMI</string>
<string>AMR</string>
<string>AMS</string>
<string>AMY</string>
<string>ANA</string>
<string>ANI</string>
<string>ANS</string>
<string>API</string>
<string>APT</string>
<string>APU</string>
<string>ARA</string>
<string>ARC</string>
<string>ARE</string>
<string>ARF</string>
<string>ARP</string>
<string>ARS</string>
<string>ART</string>
<string>ARX</string>
<string>ASE</string>
<string>ASP</string>
<string>ATP</string>
<string>AUM</string>
<string>AVI</string>
<string>AVY</string>
<string>AXA</string>
<string>AXE</string>
<string>AYA</string>
<string>AYN</string>
<string>AYU</string>
<string>AZT</string>
<string>AZY</string>
<string>BAC</string>
<string>BAF</string>
<string>BAH</string>
<string>BAI</string>
<string>BAL</string>
<string>BAN</string>
<string>BAR</string>
<string>BAS</string>
<string>BAT</string>
<string>BAU</string>
<string>BAX</string>
<string>BAY</string>
<string>BBC</string>
<string>BCE</string>
<string>BDE</string>
<string>BEC</string>
<string>BEE</string>
<string>BEG</string>
<string>BEL</string>
<string>BEN</string>
<string>BEP</string>
<string>BER</string>
<string>BET</string>
<string>BEU</string>
<string>BEY</string>
<string>BGE</string>
<string>BIC</string>
<string>BIE</string>
<string>BIF</string>
<string>BIO</string>
<string>BIP</string>
<string>BIS</string>
<string>BIT</string>
<string>BMW</string>
<string>BNC</string>
<string>BNE</string>
<string>BNP</string>
<string>BOA</string>
<string>BOB</string>
<string>BOC</string>
<string>BOF</string>
<string>BOG</string>
<string>BOL</string>
<string>BON</string>
<string>BOP</string>
<string>BOU</string>
<string>BOX</string>
<string>BOY</string>
<string>BOZ</string>
<string>BPA</string>
<string>BRU</string>
<string>BRY</string>
<string>BTP</string>
<string>BTS</string>
<string>BUA</string>
<string>BUC</string>
<string>BUE</string>
<string>BUG</string>
<string>BUM</string>
<string>BUN</string>
<string>BUO</string>
<string>BUS</string>
<string>BUT</string>
<string>BXL</string>
<string>BYE</string>
<string>BYS</string>
<string>BZD</string>
<string>BZP</string>
<string>CAB</string>
<string>CAF</string>
<string>CAH</string>
<string>CAL</string>
<string>CAM</string>
<string>CAN</string>
<string>CAP</string>
<string>CAR</string>
<string>CAS</string>
<string>CDD</string>
<string>CDI</string>
<string>CDM</string>
<string>CDO</string>
<string>CDS</string>
<string>CEA</string>
<string>CEE</string>
<string>CEP</string>
<string>CES</string>
<string>CET</string>
<string>CFA</string>
<string>CFF</string>
<string>CGS</string>
<string>CGT</string>
<string>CHI</string>
<string>CHO</string>
<string>CHU</string>
<string>CID</string>
<string>CIE</string>
<string>CIG</string>
<string>CIL</string>
<string>CIO</string>
<string>CLM</string>
<string>CNE</string>
<string>CNS</string>
<string>CNT</string>
<string>COD</string>
<string>COI</string>
<string>COL</string>
<string>COM</string>
<string>CON</string>
<string>COP</string>
<string>COQ</string>
<string>COR</string>
<string>COS</string>
<string>COT</string>
<string>COU</string>
<string>COX</string>
<string>CPE</string>
<string>CPL</string>
<string>CPU</string>
<string>CRI</string>
<string>CRU</string>
<string>CRY</string>
<string>CSA</string>
<string>CSG</string>
<string>CSS</string>
<string>CST</string>
<string>CTE</string>
<string>CUL</string>
<string>CUQ</string>
<string>CUY</string>
<string>CVT</string>
<string>DAB</string>
<string>DAC</string>
<string>DAH</string>
<string>DAI</string>
<string>DAM</string>
<string>DAN</string>
<string>DAS</string>
<string>DAW</string>
<string>DAX</string>
<string>DBA</string>
<string>DCA</string>
<string>DDT</string>
<string>DEC</string>
<string>DEL</string>
<string>DEM</string>
<string>DER</string>
<string>DES</string>
<string>DEY</string>
<string>DIA</string>
<string>DIE</string>
<string>DIS</string>
<string>DIT</string>
<string>DIU</string>
<string>DIV</string>
<string>DIX</string>
<string>DNP</string>
<string>DNS</string>
<string>DOC</string>
<string>DOL</string>
<string>DOM</string>
<string>DON</string>
<string>DOS</string>
<string>DOT</string>
<string>DPI</string>
<string>DRH</string>
<string>DRU</string>
<string>DRY</string>
<string>DSC</string>
<string>DSL</string>
<string>DST</string>
<string>DTC</string>
<string>DUC</string>
<string>DUE</string>
<string>DUN</string>
<string>DUO</string>
<string>DUR</string>
<string>DUS</string>
<string>DUT</string>
<string>DVD</string>
<string>DYO</string>
<string>DZI</string>
<string>EAU</string>
<string>ECU</string>
<string>EDF</string>
<string>EDS</string>
<string>EGO</string>
<string>EIN</string>
<string>EMM</string>
<string>ENA</string>
<string>ENE</string>
<string>EPO</string>
<string>EPS</string>
<string>ERG</string>
<string>ERP</string>
<string>ERR</string>
<string>ERS</string>
<string>ESB</string>
<string>ESC</string>
<string>ESE</string>
<string>EST</string>
<string>ETA</string>
<string>ETH</string>
<string>EUE</string>
<string>EUH</string>
<string>EUP</string>
<string>EUS</string>
<string>EUT</string>
<string>EUX</string>
<string>EWE</string>
<string>EXO</string>
<string>FAC</string>
<string>FAF</string>
<string>FAI</string>
<string>FAL</string>
<string>FAN</string>
<string>FAQ</string>
<string>FAR</string>
<string>FAT</string>
<string>FAX</string>
<string>FAY</string>
<string>FED</string>
<string>FEL</string>
<string>FEM</string>
<string>FER</string>
<string>FEU</string>
<string>FEZ</string>
<string>FIA</string>
<string>FIE</string>
<string>FIF</string>
<string>FIL</string>
<string>FIN</string>
<string>FIS</string>
<string>FIT</string>
<string>FIX</string>
<string>FLA</string>
<string>FLE</string>
<string>FLO</string>
<string>FMI</string>
<string>FOC</string>
<string>FOI</string>
<string>FOL</string>
<string>FON</string>
<string>FOO</string>
<string>FOR</string>
<string>FOS</string>
<string>FOU</string>
<string>FRY</string>
<string>FTM</string>
<string>FTP</string>
<string>FUI</string>
<string>FUN</string>
<string>FUR</string>
<string>FUS</string>
<string>FUT</string>
<string>GAG</string>
<string>GAI</string>
<string>GAL</string>
<string>GAN</string>
<string>GAP</string>
<string>GAU</string>
<string>GAY</string>
<string>GAZ</string>
<string>GDN</string>
<string>GEL</string>
<string>GER</string>
<string>GEU</string>
<string>GEX</string>
<string>GEZ</string>
<string>GFA</string>
<string>GHB</string>
<string>GIG</string>
<string>GIN</string>
<string>GIS</string>
<string>GLU</string>
<string>GOR</string>
<string>GOY</string>
<string>GPL</string>
<string>GPS</string>
<string>GRD</string>
<string>GSM</string>
<string>GUI</string>
<string>GUS</string>
<string>GUY</string>
<string>GYE</string>
<string>GYM</string>
<string>HAB</string>
<string>HAM</string>
<string>HAN</string>
<string>HAU</string>
<string>HEL</string>
<string>HEM</string>
<string>HET</string>
<string>HEU</string>
<string>HIA</string>
<string>HIC</string>
<string>HIE</string>
<string>HIN</string>
<string>HLM</string>
<string>HMM</string>
<string>HOC</string>
<string>HOM</string>
<string>HOP</string>
<string>HOU</string>
<string>HSE</string>
<string>HTA</string>
<string>HUA</string>
<string>HUB</string>
<string>HUE</string>
<string>HUI</string>
<string>HUM</string>
<string>HUN</string>
<string>HUY</string>
<string>IBA</string>
<string>IBO</string>
<string>ICI</string>
<string>IDA</string>
<string>IDE</string>
<string>IDO</string>
<string>IFS</string>
<string>IIE</string>
<string>ILE</string>
<string>ILS</string>
<string>ION</string>
<string>IRA</string>
<string>IRC</string>
<string>IRE</string>
<string>IRL</string>
<string>IRM</string>
<string>ISO</string>
<string>ITS</string>
<string>IVE</string>
<string>IVG</string>
<string>IXA</string>
<string>IXE</string>
<string>JAM</string>
<string>JAN</string>
<string>JAP</string>
<string>JAS</string>
<string>JAZ</string>
<string>JET</string>
<string>JEU</string>
<string>JLB</string>
<string>JOB</string>
<string>JOC</string>
<string>JOD</string>
<string>JRF</string>
<string>JRI</string>
<string>JTM</string>
<string>JUC</string>
<string>JUS</string>
<string>KAF</string>
<string>KAN</string>
<string>KEA</string>
<string>KET</string>
<string>KGB</string>
<string>KHI</string>
<string>KIF</string>
<string>KIM</string>
<string>KIN</string>
<string>KIP</string>
<string>KIR</string>
<string>KIT</string>
<string>KKK</string>
<string>KOA</string>
<string>KOT</string>
<string>KRU</string>
<string>KSI</string>
<string>LAC</string>
<string>LAD</string>
<string>LAG</string>
<string>LAI</string>
<string>LAN</string>
<string>LAO</string>
<string>LAS</string>
<string>LAZ</string>
<string>LED</string>
<string>LEE</string>
<string>LEI</string>
<string>LEK</string>
<string>LES</string>
<string>LET</string>
<string>LEU</string>
<string>LEV</string>
<string>LEZ</string>
<string>LHS</string>
<string>LIA</string>
<string>LIE</string>
<string>LIN</string>
<string>LIS</string>
<string>LIT</string>
<string>LIV</string>
<string>LLO</string>
<string>LOA</string>
<string>LOB</string>
<string>LOC</string>
<string>LOF</string>
<string>LOG</string>
<string>LOI</string>
<string>LOL</string>
<string>LOR</string>
<string>LOS</string>
<string>LOT</string>
<string>LOU</string>
<string>LSD</string>
<string>LUC</string>
<string>LUE</string>
<string>LUI</string>
<string>LUO</string>
<string>LUS</string>
<string>LUT</string>
<string>LUX</string>
<string>LUY</string>
<string>LYE</string>
<string>LYS</string>
<string>MAB</string>
<string>MAC</string>
<string>MAI</string>
<string>MAJ</string>
<string>MAL</string>
<string>MAN</string>
<string>MAO</string>
<string>MAS</string>
<string>MAT</string>
<string>MAX</string>
<string>MDL</string>
<string>MDR</string>
<string>MEC</string>
<string>MEL</string>
<string>MEM</string>
<string>MEQ</string>
<string>MER</string>
<string>MES</string>
<string>MET</string>
<string>MGF</string>
<string>MIC</string>
<string>MIE</string>
<string>MIG</string>
<string>MIL</string>
<string>MIN</string>
<string>MIS</string>
<string>MIT</string>
<string>MME</string>
<string>MMS</string>
<string>MNS</string>
<string>MOB</string>
<string>MOI</string>
<string>MOL</string>
<string>MON</string>
<string>MOT</string>
<string>MOU</string>
<string>MRC</string>
<string>MST</string>
<string>MTF</string>
<string>MTS</string>
<string>MUA</string>
<string>MUE</string>
<string>MUG</string>
<string>MUR</string>
<string>MUS</string>
<string>MUT</string>
<string>MYE</string>
<string>NAN</string>
<string>NAT</string>
<string>NAY</string>
<string>NDT</string>
<string>NEF</string>
<string>NEM</string>
<string>NES</string>
<string>NET</string>
<string>NEY</string>
<string>NEZ</string>
<string>NIA</string>
<string>NIB</string>
<string>NID</string>
<string>NIE</string>
<string>NIL</string>
<string>NIX</string>
<string>NNE</string>
<string>NNO</string>
<string>NOE</string>
<string>NOK</string>
<string>NOM</string>
<string>NON</string>
<string>NOS</string>
<string>NPD</string>
<string>NUA</string>
<string>NUD</string>
<string>NUE</string>
<string>NUI</string>
<string>NUL</string>
<string>NUN</string>
<string>NUS</string>
<string>OAS</string>
<string>OBA</string>
<string>OBI</string>
<string>OCA</string>
<string>OCH</string>
<string>ODE</string>
<string>OEA</string>
<string>OEM</string>
<string>OFF</string>
<string>OGM</string>
<string>OHM</string>
<string>OIE</string>
<string>OIM</string>
<string>OIS</string>
<string>OIT</string>
<string>OKI</string>
<string>OLA</string>
<string>OLM</string>
<string>OLP</string>
<string>OLT</string>
<string>OMS</string>
<string>ONC</string>
<string>ONE</string>
<string>ONG</string>
<string>ONO</string>
<string>ONT</string>
<string>ONU</string>
<string>OPA</string>
<string>OPE</string>
<string>ORB</string>
<string>ORC</string>
<string>ORE</string>
<string>ORL</string>
<string>ORS</string>
<string>ORX</string>
<string>OSA</string>
<string>OSE</string>
<string>OSO</string>
<string>OST</string>
<string>OUD</string>
<string>OUE</string>
<string>OUF</string>
<string>OUH</string>
<string>OUI</string>
<string>OUT</string>
<string>OVE</string>
<string>OZE</string>
<string>PAC</string>
<string>PAF</string>
<string>PAL</string>
<string>PAN</string>
<string>PAO</string>
<string>PAR</string>
<string>PAS</string>
<string>PAT</string>
<string>PAU</string>
<string>PAX</string>
<string>PCB</string>
<string>PCC</string>
<string>PCF</string>
<string>PDD</string>
<string>PDF</string>
<string>PDG</string>
<string>PEC</string>
<string>PEP</string>
<string>PES</string>
<string>PET</string>
<string>PEU</string>
<string>PFF</string>
<string>PHE</string>
<string>PHI</string>
<string>PHO</string>
<string>PHP</string>
<string>PHU</string>
<string>PIA</string>
<string>PIB</string>
<string>PIC</string>
<string>PIE</string>
<string>PIF</string>
<string>PIN</string>
<string>PIS</string>
<string>PIT</string>
<string>PLA</string>
<string>PLC</string>
<string>PLI</string>
<string>PLQ</string>
<string>PLU</string>
<string>PME</string>
<string>POG</string>
<string>POI</string>
<string>PON</string>
<string>POO</string>
<string>POP</string>
<string>POS</string>
<string>POT</string>
<string>POU</string>
<string>PRO</string>
<string>PSI</string>
<string>PSY</string>
<string>PTT</string>
<string>PUA</string>
<string>PUB</string>
<string>PUE</string>
<string>PUR</string>
<string>PUS</string>
<string>PUT</string>
<string>PUY</string>
<string>PVC</string>
<string>PVD</string>
<string>PYS</string>
<string>QAF</string>
<string>QAT</string>
<string>QCM</string>
<string>QOF</string>
<string>QUE</string>
<string>QUI</string>
<string>RAB</string>
<string>RAI</string>
<string>RAM</string>
<string>RAN</string>
<string>RAP</string>
<string>RAS</string>
<string>RAT</string>
<string>RAY</string>
<string>RAZ</string>
<string>RCI</string>
<string>RDA</string>
<string>RDC</string>
<string>RDS</string>
<string>RDV</string>
<string>REG</string>
<string>REM</string>
<string>RER</string>
<string>REZ</string>
<string>RFA</string>
<string>RFF</string>
<string>RFI</string>
<string>RGN</string>
<string>RHO</string>
<string>RHS</string>
<string>RIA</string>
<string>RIB</string>
<string>RIE</string>
<string>RIF</string>
<string>RIO</string>
<string>RIS</string>
<string>RIT</string>
<string>RIX</string>
<string>RIZ</string>
<string>RMI</string>
<string>ROB</string>
<string>ROC</string>
<string>ROI</string>
<string>ROM</string>
<string>ROT</string>
<string>ROY</string>
<string>RPC</string>
<string>RTT</string>
<string>RTV</string>
<string>RUA</string>
<string>RUE</string>
<string>RUN</string>
<string>RUS</string>
<string>RUT</string>
<string>RUY</string>
<string>SAC</string>
<string>SAH</string>
<string>SAI</string>
<string>SAL</string>
<string>SAN</string>
<string>SAO</string>
<string>SAR</string>
<string>SAS</string>
<string>SAZ</string>
<string>SCE</string>
<string>SCI</string>
<string>SDA</string>
<string>SDF</string>
<string>SDN</string>
<string>SDT</string>
<string>SEC</string>
<string>SEL</string>
<string>SEM</string>
<string>SEN</string>
<string>SEP</string>
<string>SES</string>
<string>SET</string>
<string>SGT</string>
<string>SHA</string>
<string>SIC</string>
<string>SIF</string>
<string>SIL</string>
<string>SIN</string>
<string>SIS</string>
<string>SIX</string>
<string>SKA</string>
<string>SKI</string>
<string>SKY</string>
<string>SLT</string>
<string>SMS</string>
<string>SOC</string>
<string>SOI</string>
<string>SOL</string>
<string>SOM</string>
<string>SON</string>
<string>SOR</string>
<string>SOS</string>
<string>SOT</string>
<string>SOU</string>
<string>SPA</string>
<string>SPI</string>
<string>SPM</string>
<string>SQL</string>
<string>SQN</string>
<string>SRC</string>
<string>SSE</string>
<string>SSH</string>
<string>SSL</string>
<string>SSO</string>
<string>SSW</string>
<string>STA</string>
<string>STF</string>
<string>STI</string>
<string>STM</string>
<string>SUA</string>
<string>SUB</string>
<string>SUC</string>
<string>SUD</string>
<string>SUE</string>
<string>SUR</string>
<string>SUS</string>
<string>SUT</string>
<string>SVG</string>
<string>TAC</string>
<string>TAF</string>
<string>TAG</string>
<string>TAN</string>
<string>TAO</string>
<string>TAP</string>
<string>TAS</string>
<string>TAU</string>
<string>TAV</string>
<string>TCA</string>
<string>TCC</string>
<string>TCP</string>
<string>TEE</string>
<string>TEK</string>
<string>TEL</string>
<string>TER</string>
<string>TES</string>
<string>TET</string>
<string>TEX</string>
<string>TGI</string>
<string>TGV</string>
<string>TIC</string>
<string>TIE</string>
<string>TIF</string>
<string>TIN</string>
<string>TIP</string>
<string>TIR</string>
<string>TIT</string>
<string>TIV</string>
<string>TLA</string>
<string>TLM</string>
<string>TLS</string>
<string>TMP</string>
<string>TNT</string>
<string>TOC</string>
<string>TOF</string>
<string>TOI</string>
<string>TOM</string>
<string>TON</string>
<string>TOP</string>
<string>TOS</string>
<string>TPG</string>
<string>TPU</string>
<string>TRI</string>
<string>TTC</string>
<string>TUA</string>
<string>TUB</string>
<string>TUE</string>
<string>TUF</string>
<string>TUN</string>
<string>TUS</string>
<string>TUT</string>
<string>TVA</string>
<string>TYR</string>
<string>UCL</string>
<string>UDF</string>
<string>UGH</string>
<string>ULM</string>
<string>ULU</string>
<string>UMH</string>
<string>UMP</string>
<string>UNE</string>
<string>UNI</string>
<string>UNS</string>
<string>URE</string>
<string>URF</string>
<string>URI</string>
<string>URL</string>
<string>URS</string>
<string>URT</string>
<string>URY</string>
<string>USA</string>
<string>USB</string>
<string>USE</string>
<string>UTC</string>
<string>UTE</string>
<string>UVE</string>
<string>UZA</string>
<string>VAL</string>
<string>VAM</string>
<string>VAN</string>
<string>VAR</string>
<string>VAS</string>
<string>VAU</string>
<string>VAV</string>
<string>VAY</string>
<string>VER</string>
<string>VES</string>
<string>VEZ</string>
<string>VIA</string>
<string>VIC</string>
<string>VIE</string>
<string>VIF</string>
<string>VIH</string>
<string>VIL</string>
<string>VIN</string>
<string>VIS</string>
<string>VIT</string>
<string>VIX</string>
<string>VOA</string>
<string>VOF</string>
<string>VOH</string>
<string>VOI</string>
<string>VOL</string>
<string>VOS</string>
<string>VPN</string>
<string>VRD</string>
<string>VTC</string>
<string>VTE</string>
<string>VTT</string>
<string>VUE</string>
<string>VUS</string>
<string>WAN</string>
<string>WAP</string>
<string>WAT</string>
<string>WAU</string>
<string>WAW</string>
<string>WAX</string>
<string>WEB</string>
<string>WEN</string>
<string>WII</string>
<string>WOK</string>
<string>WON</string>
<string>XES</string>
<string>XIE</string>
<string>XML</string>
<string>XVE</string>
<string>XXE</string>
<string>YAK</string>
<string>YAM</string>
<string>YAO</string>
<string>YEN</string>
<string>YES</string>
<string>YET</string>
<string>YIN</string>
<string>YOD</string>
<string>YOT</string>
<string>YUD</string>
<string>YUE</string>
<string>ZAD</string>
<string>ZAR</string>
<string>ZAY</string>
<string>ZEB</string>
<string>ZEF</string>
<string>ZEM</string>
<string>ZEN</string>
<string>ZIG</string>
<string>ZIL</string>
<string>ZIP</string>
<string>ZOB</string>
<string>ZOO</string>
<string>ZOT</string>
<string>ZOU</string>
<string>ZUP</string>
<string>ZUT</string>
</array>
</plist>
